﻿<script src="~/js/home.js" asp-append-version="true"></script>
<script src="/lib/signalr/signalr.min.js" asp-append-version="true"></script>

<div class="chat-container">
    <div class="row">
        <div class="form-group col-md-2">
            @*@Html.DropDownList("Chatroom", new List<SelectListItem>{
                new SelectListItem( text: "Chatroom 1", value: "1"),
                new SelectListItem( text: "Chatroom 2", value: "2"),
                new SelectListItem( text: "Chatroom 3", value: "3")
            })*@
            <label class="name">@User.Identity.Name</label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-10">
            @Html.Label("New Message")
            @Html.TextBox("NewMessage")
        </div>
        <div class="form-group col-md-2">
            <div>&nbsp;</div>
            <button id="send-message" class="btn btn-success" onclick="SendMessage()">Send</button>  
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            @Html.Label("Messages:")
            <ul id="messages-container">
                
            </ul>
        </div>
    </div>

</div>