html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.chat-container {
    line-height: 2.21;
}

    .form-group{
        display: flex;
        flex-direction: column;
    }

#messages-container {
    min-height: 300px;
    background-color: #dfdfdf;
    border-radius: 0.4rem;
}
