﻿@model ChatApp.Web.Model.RegisterViewModel

<div class="form-container">
    <div class="row">
        <div class="col-md-12">
            <form id="form-register" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Login)
                    @Html.TextBoxFor(m => m.Login)
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group col-md-2" style="margin-top: 10px;">
                    <button class="btn btn-primary" type="submit">Submit</button>  
                </div>

            </form>
        </div>
    </div>
    
</div>